*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: rgba(147, 147, 147, 0.532);
}
body h1{
    margin: 50px 0 20px 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-wrap: wrap;
}
.div-1,.div-2{
    background-color: white;
    width:400px;
    height: max-content;
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
}
.div-1 h2,.div-2 h2{
    text-align: center;
    margin: 10px 0;
}
.div-1 input,.div-2 input{
    width: 100%;
    height: 50px;
    border: 1px solid grey;
    outline: none;
    border-radius: 10px;
    padding: 0 20px;
    margin: 10px 0;
}
.div-1 p,.div-2 p{
    text-align: start;
    margin: 20px 0;
}
span{
    color: red;
}
body h1{
    text-align: center;
}